.footerWrap {
    background-color: #333;
    padding: 20px 0;
    color: #fff;
    font-size: 14px;

    .socialIcons {
        display: inline-grid;
        gap: 14px;
        grid-template-areas: "aa aa" "bb cc";

        h3 {
            font-size: 20px;
        }

        a {
            height: 44px;
            width: 44px;
            border-radius: 50%;
            background-color: #1877f2;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 24px;
            }
        }
    }

    ul {
        display: flex;
        justify-content: center;
        padding: 16px 0;

        li {
            padding-right: 10px;
            margin-right: 10px;
            position: relative;
            line-height: 1;
            &:last-of-type{
                padding-right: 0;margin-right: 0;
                &::before{
                    display: none;
                }
            }

            &::before {
                content: "";
                background-color: #fff;
                height: 100%;
                width: 1.3px;
                position: absolute;
                right: 0;
            }
        }

        a {
            color: inherit;
            text-decoration: underline;
        }
    }

}