.nav_wrap {
    padding: 24px 0;

    .main_logo {
        max-width: 530px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 1fr 80px;
        .mainLogo{
grid-column: 1/3;
        }

        .whatsppIcon {
            display: inline-block;
            grid-column: 2/3;

            img {
                width: 100%;
            }
        }
        .customBtn{
            grid-column: 1/2;
        }
    }

    .nav-link {
        color: #111;
        font-weight: 400;

        &.active {
            font-weight: 700;
        }
    }

    .navbar-nav {
        justify-content: space-between;
        width: 100%;
    }

    .navbar {
        padding: 12px 0;
    }
}